/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin */

html {
    /* our over-all width will be X */
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.panel {
    display: flex;
    background-color: white;
    border-radius: 1em;

    width: 100vw;
    max-width: 60vw;

    padding: 5vh 5vw;

    justify-content: space-evenly;
    align-items: center;

    text-align: center;
}

.pricing-plan {
    display: flex;

    min-height: 60vh;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    border-bottom: 1px solid#60a9ff;
}

.pricing-img {
    margin-bottom: 1vh;
    max-width: 100%;
}

.pricing-header {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    color: grey

    
}

.pricing-features {
    margin: 5vh 0 2.5vh;
    color: #016ff9;
}

.pricing-features-item {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 0.2;
    padding: 15px 0;

    border-top: 1px solid #e1f1ff;
}

.pricing-button {
    border: 2px solid rgb(0, 179, 255);
    padding: 8px 20px;
    border-radius: 6px;

    text-decoration: none;
    font-weight: 400;

    font-size: 20px;
    text-transform: uppercase;

    color:rgb(0, 179, 255);

    transition: all 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
    background-color: #e1f1ff;

}

.is-featured {
    background-color: #98d7ff;
    font-weight: 900;
    color: white;
}

.is-featured:hover, .is-featured:focus {
    color:rgb(0, 179, 255);
}

.pricing-price {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 35px;
    color: rgb(0, 127, 212);

    padding-bottom: 20px;
}

/* this is done much better if I styled for mobile first, and then set a single
   breakpoint for larger screen sizes. Live and learn, I guess. */
@media (max-width: 1750px) {
    .panel {
        max-width: 70vw;
    }
}

@media (max-width: 1535px) {
    .panel {
        max-width: 80vw;
    }
}

@media (max-width: 1350px) {
    .panel {
        min-width: 100vw;
        flex-direction: column;
    }
    body {
        margin: 2vh 2vw 2vh 2vw;

    }
    /* we only want lines from the "center," turn on to see what I'm
    talking about */
    .pricing-plan:last-child {
        border-bottom: 0px;
    }
}  
